* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    box-sizing: border-box;
}

#form-container {
    width: 60%;
    margin-inline: auto;
    padding: 10px;
    background-color: rgba(100, 155, 155, 0.8);
    margin-top: 6%;
    box-shadow: 6px 6px 0px rgb(0, 0, 0);
}

#form-container label{
    display: block;
}

#form-container input{
    height: 30px;
}

#list-container {
    width: 60%;
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 6%;
}


.taskcontainer {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 6px 6px 0px rgb(0, 0, 0);
    margin-bottom: 20px;
}

.taskcontainer:hover {
    transform: translateX(2px) translateY(2px);
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
}

button {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #64869B;
    margin-top: 20px;
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

button:hover {
    background-color: #4C6D7A; 
    border-radius: 10px; 
}

button:active {
    background-color: #4C6D7A; 
    border-radius: 10px; 
    transform: translateX(1px) translateY(1px);
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
}